/* #FFEAEA déclinaison du PALE-RED */

.w3-th1-l5 {color:#000 !important; background-color:#fffefe !important}
.w3-th1-l4 {color:#000 !important; background-color:#fffbfb !important}
.w3-th1-l3 {color:#000 !important; background-color:#fff7f7 !important}
.w3-th1-l2 {color:#000 !important; background-color:#fff3f3 !important}
.w3-th1-l1 {color:#000 !important; background-color:#ffefef !important}
.w3-th1-d1 {color:#000 !important; background-color:#ffbaba !important}
.w3-th1-d2 {color:#000 !important; background-color:#ff8989 !important}
.w3-th1-d3 {color:#fff !important; background-color:#ff5858 !important}
.w3-th1-d4 {color:#fff !important; background-color:#ff2727 !important}
.w3-th1-d5 {color:#fff !important; background-color:#f50000 !important}

.w3-th1-light {color:#000 !important; background-color:#fffefe !important}
.w3-th1-dark {color:#fff !important; background-color:#f50000 !important}
.w3-th1-action {color:#fff !important; background-color:#f50000 !important}

.w3-th1 {color:#000 !important; background-color:#ffeaea !important}
.w3-text-th1 {color:#ffeaea !important}
.w3-border-th1 {border-color:#ffeaea !important}

.w3-hover-th1:hover {color:#000 !important; background-color:#ffeaea !important}
.w3-hover-text-th1:hover {color:#ffeaea !important}
.w3-hover-border-th1:hover {border-color:#ffeaea !important}

/* #E27670 */

.w3-th2-l5 {color:#000 !important; background-color:#fdf7f6 !important}
.w3-th2-l4 {color:#000 !important; background-color:#f9e3e2 !important}
.w3-th2-l3 {color:#000 !important; background-color:#f3c8c5 !important}
.w3-th2-l2 {color:#000 !important; background-color:#edaca9 !important}
.w3-th2-l1 {color:#000 !important; background-color:#e7908c !important}
.w3-th2-d1 {color:#fff !important; background-color:#dc5a53 !important}
.w3-th2-d2 {color:#fff !important; background-color:#d63f37 !important}
.w3-th2-d3 {color:#fff !important; background-color:#c43028 !important}
.w3-th2-d4 {color:#fff !important; background-color:#a82922 !important}
.w3-th2-d5 {color:#fff !important; background-color:#8c221d !important}

.w3-th2-light {color:#000 !important; background-color:#fdf7f6 !important}
.w3-th2-dark {color:#fff !important; background-color:#8c221d !important}
.w3-th2-action {color:#fff !important; background-color:#8c221d !important}

.w3-th2 {color:#fff !important; background-color:#e27670 !important}
.w3-text-th2 {color:#e27670 !important}
.w3-border-th2 {border-color:#e27670 !important}

.w3-hover-th2:hover {color:#fff !important; background-color:#e27670 !important}
.w3-hover-text-th2:hover {color:#e27670 !important}
.w3-hover-border-th2:hover {border-color:#e27670 !important}

/* #10142D multi-déclinaison du INDIGO */

.w3-th3-l5 {color:#000 !important; background-color:#ebedf8 !important}
.w3-th3-l4 {color:#000 !important; background-color:#bdc2e8 !important}
.w3-th3-l3 {color:#fff !important; background-color:#7a86d0 !important}
.w3-th3-l2 {color:#fff !important; background-color:#3f4eb2 !important}
.w3-th3-l1 {color:#fff !important; background-color:#273170 !important}
.w3-th3-d1 {color:#fff !important; background-color:#0e1229 !important}
.w3-th3-d2 {color:#fff !important; background-color:#0d1024 !important}
.w3-th3-d3 {color:#fff !important; background-color:#0b0e20 !important}
.w3-th3-d4 {color:#fff !important; background-color:#0a0c1b !important}
.w3-th3-d5 {color:#fff !important; background-color:#080a17 !important}

.w3-th3-light {color:#000 !important; background-color:#ebedf8 !important}
.w3-th3-dark {color:#fff !important; background-color:#080a17 !important}
.w3-th3-action {color:#fff !important; background-color:#080a17 !important}

.w3-th3 {color:#fff !important; background-color:#10142d !important}
.w3-text-th3 {color:#10142d !important}
.w3-border-th3 {border-color:#10142d !important}

.w3-hover-th3:hover {color:#fff !important; background-color:#10142d !important}
.w3-hover-text-th3:hover {color:#10142d !important}
.w3-hover-border-th3:hover {border-color:#10142d !important}

/* #196275 */

.w3-th4-l5 {color:#000 !important; background-color:#edf8fb !important}
.w3-th4-l4 {color:#000 !important; background-color:#c2e9f2 !important}
.w3-th4-l3 {color:#000 !important; background-color:#86d2e5 !important}
.w3-th4-l2 {color:#fff !important; background-color:#49bcd8 !important}
.w3-th4-l1 {color:#fff !important; background-color:#2696b2 !important}
.w3-th4-d1 {color:#fff !important; background-color:#16596a !important}
.w3-th4-d2 {color:#fff !important; background-color:#144f5e !important}
.w3-th4-d3 {color:#fff !important; background-color:#114552 !important}
.w3-th4-d4 {color:#fff !important; background-color:#0f3c47 !important}
.w3-th4-d5 {color:#fff !important; background-color:#0c323b !important}

.w3-th4-light {color:#000 !important; background-color:#edf8fb !important}
.w3-th4-dark {color:#fff !important; background-color:#0c323b !important}
.w3-th4-action {color:#fff !important; background-color:#0c323b !important}

.w3-th4 {color:#fff !important; background-color:#196275 !important}
.w3-text-th4 {color:#196275 !important}
.w3-border-th4 {border-color:#196275 !important}

.w3-hover-th4:hover {color:#fff !important; background-color:#196275 !important}
.w3-hover-text-th4:hover {color:#196275 !important}
.w3-hover-border-th4:hover {border-color:#196275 !important}

/* PALE-YELLOW #FFFFCC */

.w3-th5-l5 {color:#000 !important; background-color:#fffffc !important}
.w3-th5-l4 {color:#000 !important; background-color:#fffff5 !important}
.w3-th5-l3 {color:#000 !important; background-color:#ffffeb !important}
.w3-th5-l2 {color:#000 !important; background-color:#ffffe0 !important}
.w3-th5-l1 {color:#000 !important; background-color:#ffffd6 !important}
.w3-th5-d1 {color:#000 !important; background-color:#ffff9e !important}
.w3-th5-d2 {color:#000 !important; background-color:#ffff70 !important}
.w3-th5-d3 {color:#000 !important; background-color:#ffff42 !important}
.w3-th5-d4 {color:#000 !important; background-color:#ffff14 !important}
.w3-th5-d5 {color:# !important; background-color:#e6e600 !important}

.w3-th5-light {color:#000 !important; background-color:#fffffc !important}
.w3-th5-dark {color:# !important; background-color:#e6e600 !important}
.w3-th5-action {color:# !important; background-color:#e6e600 !important}

.w3-th5 {color:#000 !important; background-color:#ffffcc !important}
.w3-text-th5 {color:#ffffcc !important}
.w3-border-th5 {border-color:#ffffcc !important}

.w3-hover-th5:hover {color:#000 !important; background-color:#ffffcc !important}
.w3-hover-text-th5:hover {color:#ffffcc !important}
.w3-hover-border-th5:hover {border-color:#ffffcc !important}
